
.tool .nav,
.image-generator .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: none;
}

.tool .nav input{
    margin: 0 auto 0 40px;
    padding: 8px 4px 8px 20px;
    width: 250px;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid #d3c6c6;
}

.tool .nav .profile,
.image-generator .nav .profile{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    background-color: gray;
}

.tool-body{
    background-color: whitesmoke;
    margin: 4px 0px 0px 80px;
    padding: 16px;
}

.tool .tool-body .heading{
    margin-bottom: 16px;
}

.image-generator-body{
    display: flex;
}

.image-form-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(171, 168, 168);
    background-color: white;
    border-radius: 4px;
    width: 30%;
    margin-right: 16px;
}

.image-form-container .title{
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid#c5c0c0;
    height: 68px;
}

.image-form-container .title a{
    text-decoration: none;
    background-color: white;
    color: #505876;
    border: 1px solid #c5c0c0;
    padding-top: 12px;
}
 
.image-form-container .image-generator-form{
    display: flex;
    flex-direction: column;
    padding: 0px 12px 12px;
}

.image-form-container .image-generator-form label{
    margin: 24px 0;
}

.image-form-container .image-generator-form span{
    display: block;
    margin-bottom: 8px;
}

.image-form-container .image-generator-form textarea, select, input{
    width: 100%;
    height: 100%;
    padding: 4px;
    border-radius: 4px;
    background-color: #ededed;
    border: none;
    max-width: 100%;
    max-height: fit-content;
}

.image-form-container .tool-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.image-form-container .tool-bottom .clear{
    color: #505876;
    background-color: white;
    border: 1px solid ;
}

.image-form-container .tool-bottom button{
    width: 120px;
}

.image-results{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(171, 168, 168);
    background-color: white;
    border-radius: 4px;
    width: 70%;
    justify-content: space-between;
}

.image-results .title,
.image-results .bottom{
    display: flex;
    padding: 8px 16px 8px;
    height: 68px;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid#c5c0c0;
}

.image-results .bottom{
    border-bottom: none;
    border-top: 1px solid#c5c0c0;
}

.image-results .output-placeholder{
    margin: auto;
}

.image-results .ai-results{
    display: flex;
    padding: 12px;
    justify-content: center;
    overflow: hidden;
}

.image-results .loader-div{
    position: relative;
}

.image-results .loader-div .loader{
    position: absolute;
    bottom: 12px;
    left: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-right: 5px solid #3498db;
    border-bottom: 5px solid #3498db;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.image-results .ai-results .ai-image{
    margin: 4px;
}

.image-results .ai-results .ai-image img{
    width: 320px;
    height: 320px;
}

.image-generator-body .login-container{
    width: 69%;
    display: flex;
    background-color: white;
    justify-content: center;
    padding-top: 24px;
  }

  .image-generator-body .login-container .imageGenerate{
    width: 56%;
  }