@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  color: #505876;
}

.btn {
  background-color: #E45C96;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  height: 48px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
.btn:hover {
  background: #1f9751;
  color: #fff;
}